<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/admin-vaga.css" />
    <title>Gerency Oppotunitys</title>
  </head>
  <body>
    <%- include('../header') %>
    <div class="body">
      <% vagas.forEach(vaga=>{ %>
      <h4><%-vaga.title %></h4>
      <ul>
        <li>
          <%- vaga.description %>
          <div class="buttons-area">
            <a href="/admin/update-opportunity/<%- vaga.id %> " class="edit"
              >edit</a
            >
            <a href="/admin/remove-opportunity/<%- vaga.id %> " class="remove"
              >remove</a
            >
          </div>
        </li>
      </ul>
      <% }) %>
      <div class="area-button-add">
        <a href="/admin">
          <img src="/images/add.svg" alt="add" class="button-add" />
        </a>
      </div>
    </div>
    <%- include('../footer') %>
  </body>
</html>
