<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link rel="stylesheet" href="styles/global.css" />
    <link rel="stylesheet" href="styles/home.css" />
  </head>
  <body>
    <%- include('header') %>
    <div class="content">
      <div class="open-roles">
        <p>Open roles :</p>
      </div>
      <div class="topics">
        <% vagas.forEach(vaga=>{ %>
        <div class="blok">
          <p class="title"><%- vaga.title %></p>
          <p class="description">
            <a href="vaga/<%-vaga.id%>"><%- vaga.description %> </a>
          </p>
        </div>
        <%}) %>
      </div>
    </div>
    <%- include('footer') %>
  </body>
</html>
